.Wrapper {
    display: flex;
}

.label {
    margin-right: 10px;
}

.select {
    background: none;
    outline: none;
    padding: 2px 10px 2px 2px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.option {
    color: var(--inverted-primary-color);
    background: var(--inverted-bd-color);
}

.readonly {
    opacity: 0.7;

    select {
        appearance: none;
        border: none;
        opacity: 1;
    }
}
